<div class='container-fluid'>
    <div class='row'>
       <div class="col-md-2 bg-info " style="height:100vh;">
        <div class='mt-5 fs-5'>
            <div style="color:rgb(0, 0, 0)">
            <i class="fa-solid fa-bars me-2"></i>
                <a style="text-decoration: none;color: black;"   routerLink="/dashboard">Dashboard</a>
            </div>
            <div style="color:rgb(0, 0, 0)">
                <i class="fa-brands fa-product-hunt me-2"></i>
                <a style="text-decoration: none;color: black;" routerLink="/employees">Employee list</a></div>
        </div>
       </div>
       <div class="col-md-10  text-warning mt-2 ">
           <h4 class="fs-3">Add New User Details</h4>
          
       </div>
    </div>
</div>